.header {
  height: 60px;
  position: relative;
  padding: 10px 15px;

  @media screen and (max-width: 767px) {
    &::after {
      content: '';
      position: absolute;
      top: calc(100%-1px);
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      border: 1px solid #ececec;
    }
  }
  @media screen and(min-width: $tablet) {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0px 15px;
  }
}
.clear-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//Logo header

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $logo-color;
  @media screen and (min-width: $desktop) {
    font-size: 26px;
  }
}

.logo-header {
  color: #000000;
}

//munu button

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button {
  &:hover {
    .icon-cross,
    .icon-menu {
      fill: $logo-color;
    }
  }
}

//Header menu

.header-menu.is-open {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 2;
}

.header-menu {
  display: none;
  @media screen and(min-width: $tablet) {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }
  @media screen and(min-width: $desktop) {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 93px;
  }
}

//Header nav-link

.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  font-size: 18px;
  @media screen and (min-width: $tablet) {
    margin: 0;
    flex-direction: row;
    font-size: 14px;
  }
}

.nav {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .item:not(:last-child) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: $tablet) {
    flex-direction: row;
    margin-right: 84px;
    .item:not(:last-child) {
      margin-bottom: 0;
      margin-right: 50px;
    }
  }
  @media screen and (min-width: $desktop) {
    margin-right: 0;
  }
}

.nav .link {
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  @media screen and(min-width: $tablet) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $logo-color;
    border-radius: 2px;
    opacity: 0;
    transition: opacity $time $cubic;
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
  }
}

.header .link {
  &:hover,
  &:focus {
    color: $logo-color;
    fill: $logo-color;
  }

  &.current {
    color: $logo-color;

    &::after {
      opacity: 1;
    }
  }
}

//Header contact

.contact-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;

  & .item:not(:last-child) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    font-size: 12px;
    align-items: flex-start;
    & .item:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: $desktop) {
    margin-left: auto;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    & .item:not(:last-child) {
      margin-bottom: 0px;
      margin-right: 30px;
    }
  }
}

.contact-header .link {
  display: inline-flex;
  align-items: center;
  fill: $title-text-color;
  transition: fill $time $cubic;
}

.icon {
  margin-right: 10px;
  fill: inherit;
}

.email-icon {
  width: 16px;
  height: 12px;
}

.phone-icon {
  width: 10px;
  height: 16px;
}
