.networks {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.networks .list-item {
  border-radius: 50%;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
  &:hover a,
  &:focus a {
    background-color: $logo-color;
    fill: $primary-white-color;
  }
}

.list-item .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  fill: #afb1b8;
  transition: background-color $time $cubic, fill $time $cubic;
}

.list-item svg {
  fill: inherit;
}
